
html, body{
  overflow-x: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --searchbar-btn-border-radius: 5px
}

a{
  text-decoration: none;
}

.fadein{
  animation: .7s ease-in fadein;
}

@keyframes fadein{
  from {
    opacity: 0;
    transform: translateY(-3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}